body {
    font: 40pt arial, sans-serif;
    background-color: #e5e5e5;
    color: #404040
}

.notSelectable {
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

#title {
    font-size: 14pt;
    font-style:italic
}

#author {
    font-size: 12pt;
    margin-left:20px;
}

#desc {
    font-size:10pt;
}

.bookIcon {
    content: url('../closed-book.png');
    vertical-align: middle;
    max-height: 100px;
    max-width:100px;
    float:left;
}

#text {
    margin-left:110px;
}

.bookListItem input {
    float:right;
    margin-right:75px !important;
    width:30px;
    height:30px;
    background-color: #fafafa;
	border: 1px solid #cacece;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
    border-radius: 3px;
}

#icons {
    min-height:100px;
    float:right;
    width:20%;
    position: absolute;
    right:20px;
    top:20px;
    display:block;
    width:35px;
}

.bookListItem {
    display:block;
    float:left;
    min-width:550px;
    padding: 20px;
    height:100px;
    position: relative;
}

#titleBar {
    display: flex;
    position: fixed;
    z-index: 1;
    background-color: goldenrod;
    color:#e5e5e5;
    top:0px;
    width: 500px;
    height: 100px;
    border: 5px solid goldenrod;
    border-bottom-width: 2.5px;
    border-top-width: 2.5px;
    vertical-align: middle;
    line-height: 100%;
    align-items:center;
}

#titleBarTitle {
    flex:8;
    vertical-align: middle;
    text-align: center;
}

.smallIcons {
    width:35px;
    display:block;
    position:absolute;
    float:right;
    right:0px;
}

#amazonLink {
    bottom:0px;
}

#bookList {
    min-height: 100px;
    min-width:500px;
    max-width:700px;
    margin-top: 100px;
}

#readText {
    top:5px;
    right:85px;
    float:right;
    display:inline-block;
    position:absolute;
    font-size:12pt;
}

#hamburger {
    float:left;
    margin-left:19px;
}

.flex0 {
    flex:0;
}

#add {
    float:right;
    margin-right:19px;
}

#titleBar div a img{
    width:40px;
    vertical-align: middle;
    line-height: 100px;
    text-align: center;
}

#titleBar div a {
    width: 100%;
    text-align: center;
}

#titleBar .notSelectable, #titleBar .notSelectable a{
    height:100%;
    vertical-align: middle;
    line-height: 100px;
}

#menu,#addBook {
    height:375px;
    position:fixed;
    top:-400px;
    border: 5px solid goldenrod;
    background-color:transparent;
    z-index:0;
}

.flexCenter {
    display: flex;
    align-items:center;
}

#addBook form {
    flex:1;
    height:100%;
}

#addBook form input[type='text'], #addBook form input[type='submit'], #addBook form input[type='text']:focus{
    float:left;
    background-color:goldenrod;
    border:0;
    box-shadow: 0 0px;
    text-align:center;
    width:100%;
    color: #404040;
    outline:goldenrod auto 0px;
    height:50px;
    font-size:14pt;
    padding: 0px;
}

input[type='checkbox'] {
    margin: 0px;
}

.spacer {
    height:0px;
    float:left;
    width:100%;
}

#readAdd, #readAddCheck{
    width:50%;
    height:50px;
    float:left;
    font-size:20pt;
    line-height:50px;
    vertical-align: middle;
    text-align: right;
}

#readAddCheck {
    width:30%;
}

input[type='submit'] {
    height:40px !important;
}